# Build directories
dist/bundle.js
dist/*.worker.js

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac File System File...utterly useless to anyone but me.
.DS_Store
